.box{
    margin-top:60px;
    margin-bottom:62px;
    padding:10px 20px 15px;
    background: white;
}

img{
    width:100% !important;
    height:100% !important;
}
.active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
    
}
.vizualization{
    width:50% !important;
    height:50% !important;
}